@import url("https://fonts.googleapis.com/css2?family=Young+Serif&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

:root {
  --Nutmeg: hsl(14, 45%, 36%);
  --Dark-Raspberry: hsl(332, 51%, 32%);

  --White: hsl(0, 0%, 100%);
  --Rose-White: hsl(330, 100%, 98%);
  --Eggshell: hsl(30, 54%, 90%);
  --Light-Grey: hsl(30, 18%, 87%);
  --Wenge-Brown: hsl(30, 10%, 34%);
  --Dark-Charcoal: hsl(24, 5%, 18%);

  --young-serif: "Young Serif", serif;
  --outfit: "Outfit", sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

body {
  width: 100%;
  background-color: var(--Eggshell);
  display: grid;
  place-items: center;
  padding: 124px 0;
  font-family: var(--outfit);
}

.container {
  background-color: var(--White);
  height: 1670px;
  max-width: 730px;
  padding: 40px;
  border-radius: 25px;
}

.recipe-img {
  height: 300px;
  max-width: 650px;
  border-radius: 10px;
}

.recipe-title {
  padding: 20px 0px;
  font-size: 40px;
  font-family: var(--young-serif);
  color: var(--Dark-Charcoal);
}

.recipe-description {
  padding-bottom: 30px;
  color: var(--Wenge-Brown);
}

.info-section {
  background-color: var(--Rose-White);
  height: 180px;
  padding: 25px;
  border-radius: 15px;
}

.info-heading {
  font-size: 20px;
  color: var(--Dark-Raspberry);
  font-weight: 600;
  padding-bottom: 10px;
}

.info-section ul {
  padding-left: 25px;
}

.info-section li {
  color: var(--Wenge-Brown);
  line-height: 30px;
  padding-left: 15px;
}
.info-section li::marker{
  color: var(--Dark-Raspberry);
}

.sub-heading {
  font-family: var(--young-serif);
  font-size: 25px;
  color: var(--Nutmeg);
}

.ingredients-section, .instructions-section, .nutrition-section{
  padding: 25px 0px;
  line-height: 30px;
}

.ingredients-section ul, .instructions-section ol {
  padding: 20px 20px 0px;
}

.ingredients-section li, .instructions-section li {
  padding-left: 15px;
  color: var(--Wenge-Brown);
}

.ingredients-section li::marker, .instructions-section li::marker{
  color: var(--Nutmeg);
  font-weight: 700;
}

.table-description{
  padding: 15px 0px  10px;
  color: var(--Wenge-Brown);
}

.nutrition-table {
  width: 100%;
  border-collapse: collapse; 
}
.nutrition-table td {
  padding: 8px 30px;
  color: var(--Wenge-Brown);
}
.nutrition-table tr:not(:last-child) {
  border-bottom: 1px solid var(--Light-Grey); 
}
.nutrition-table td:nth-child(2){
  font-weight: 700;
  color: var(--Nutmeg); 
}

hr{
  border: none; 
  height: 1px; 
  background-color: var(--Light-Grey);
}

@media (max-width: 425px) {
  body {
    padding:  0;
  }

  .container {
    height: auto;
    max-width: 100%;
    padding: 20px;
    border-radius: 15px;
  }

  .recipe-img {
    height: auto;
    max-width: 100%;
    width: 100%;
    border-radius: 0;
  }

  .recipe-title {
    font-size: 30px;
  }

  .info-section {
    height: auto;
    padding: 20px;
    border-radius: 10px;
  }

  .info-heading {
    font-size: 18px;
  }

  .info-section ul {
    padding-left: 15px;
  }

  .info-section li {
    line-height: 25px;
  }

  .sub-heading {
    font-size: 20px;
  }

  .ingredients-section, .instructions-section, .nutrition-section {
    padding: 20px 0;
    line-height: 25px;
  }

  .ingredients-section ul, .instructions-section ol {
    padding: 15px 15px 0;
  }

  .ingredients-section li, .instructions-section li {
    padding-left: 10px;
  }

  .table-description {
    padding: 10px 0 5px;
  }

  .nutrition-table td {
    padding: 5px 15px;
  }
}
